.mfz-XL {
  font-size: 60px;
}

.mfz-L {
  font-size: 35px;
}

.mfz-M {
  font-size: 25px;
}

.mfz-S {
  font-size: 20px;
}

.mfz-XS {
  font-size: 15px;
}

.margin-T1 {
  margin-top: 55px;
}

.margin-T2 {
  margin-top: 45px;
}

.margin-T3 {
  margin-top: 35px;
}

.margin-T4 {
  margin-top: 25px;
}

* {
  font-family: "Aleo", serif;
  margin: 0;
  padding: 0;
}

.header-bootstrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.encabezado-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  border-bottom: 1px solid #808080;
}
.encabezado-navbar .logo img {
  height: 150px;
  width: auto;
}

.navegacion-links {
  list-style: none;
}
.navegacion-links li {
  display: inline-block;
  padding: 0 20px;
}
.navegacion-links a {
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
  text-decoration: none;
}

.h1-navegacion {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.navbar-toggler {
  margin: auto;
  display: inline-block;
}

.navbar-collapse {
  justify-content: center;
}

.bg-titulo {
  background-image: url("../assets/bg-titulo-index.webp");
  background-position: center;
  background-size: cover;
  height: 300px;
  border-bottom: 2px solid #808080;
}

iframe {
  width: 600px;
  height: 450px;
}

svg {
  width: 16px;
  height: 16px;
}

.h2-principal {
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
  color: #fbb38d;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  padding: 30px;
}

.parrafo-index {
  display: flex;
  justify-content: center;
  background-color: #cdd8c7;
  color: #d05774;
  text-align: center;
  align-items: center;
  text-decoration: underline;
  margin-bottom: 0px;
}

.parrafo-index2 {
  color: #662132;
  background-color: #cdd8c7;
  text-align: center;
  border-bottom: 2px solid #808080;
  margin-bottom: 0px;
}

.bg-articulos {
  background-color: #cdd8c7;
}
.bg-articulos iframe {
  display: flex;
  width: 35%;
}
.bg-articulos h2 {
  width: 14rem;
  color: #6bc8cd;
  font-size: 35px;
  display: flex;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}
.bg-articulos p {
  display: flex;
  color: #fff900;
  width: 25%;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

.contenedor {
  border: 2px solid #f58b7e;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contenedores-destinos-principales {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.buenos-aires {
  background-image: url("../assets/bsas-backround-nordelta.jpg");
}

.caba {
  background-image: url("../assets/caba-backround.jpg");
}

.mendoza {
  background-image: url("../assets/mendoza-backround.jpg");
}

.boton-viajes {
  background-color: #565656;
  color: #fbb38d;
  border-radius: 10px;
  padding: 1em;
  width: 11%;
}
.boton-viajes:active {
  background-color: #808080;
}
.boton-viajes:hover {
  background-color: #19647e;
}

.article-quienes-somos {
  text-align: center;
}

.seccion-prueba-quienes-somos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contenedor-quienes-somos {
  display: flex;
  width: 500px;
  height: 500px;
  justify-items: center;
}
.contenedor-quienes-somos img {
  width: 55%;
  height: 55%;
}

.h3-opiniones {
  text-align: left;
  color: #19647e;
}

.h5-faqs {
  background-color: #c9d6c5;
  margin-top: 55px;
}

.parrafo-index-faqs {
  display: flex;
  justify-content: center;
  color: #d05774;
  text-align: center;
  font-size: 25px;
  align-items: center;
  text-decoration: underline;
  margin-bottom: 3%;
}

.barra-busqueda {
  display: flex;
  justify-content: center;
  width: 100%;
}
.barra-busqueda form {
  width: 75%;
}

.preguntas-frecuentes {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-default {
  background-color: #c9d6c5;
}

.carousel-inner {
  position: relative;
  width: 95%;
  overflow: hidden;
  border: 3px solid #fbb38d;
}

.carousel-caption {
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

.link-viaje {
  background-color: #1d1414;
}

.contacto-redes a {
  text-decoration: none;
}
.contacto-icons {
  grid-area: redes;
  display: flex;
  justify-content: space-evenly;
}
.contacto-icons a {
  list-style-type: none;
  text-decoration: none;
}
.contacto-grilla {
  display: grid;
  align-items: center;
  grid-template-rows: 8% 10% 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "titulo titulo2" "redes  mapa" "chatea mapa" "telefono horarios";
}
.contacto-iframe {
  grid-area: mapa;
  display: flex;
  justify-content: center;
}
.contacto-chatea {
  grid-area: chatea;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contacto-text {
  grid-area: telefono;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contacto-text h4 {
  margin-bottom: 2px;
}
.contacto-text textarea {
  margin-bottom: 2px;
  background-color: #c9d6c5;
  width: 95%;
}
.contacto-bg {
  background-color: #c9d6c5;
}
.contacto-iframe iframe {
  width: 100%;
}
.contacto-horarios {
  grid-area: horarios;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3-contacto {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  color: #19647e;
  text-decoration: underline;
  text-align: left;
  color: #19647e;
}
.h3-contacto2 {
  grid-area: titulo2;
  display: flex;
  justify-content: center;
  color: #19647e;
  text-decoration: underline;
}

.btn {
  border: 1px solid black;
}
.btn:hover {
  background-color: #ffe4c4;
  border: 1px solid #000;
}

svg {
  width: 60px;
  height: 60px;
}

.barra-navegacion {
  display: flex;
  justify-content: center;
}

.animate__fadeIn {
  animation-duration: 5s;
}

.aparicion-1 {
  animation: aparicion1 3s;
}
.aparicion-2 {
  animation: aparicion2 5s;
}
.aparicion-3 {
  animation: aparicion3 7s;
}

@keyframes aparicion1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparicion2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparicion3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  grid-area: footer;
}
footer p {
  opacity: 50%;
  text-align: center;
}

@media (max-width: 500px) {
  svg {
    width: 30px;
    height: 30px;
  }
  .contacto-text textarea {
    width: 75%;
  }
}
@media (max-width: 960px) {
  .encabezado-navbar {
    flex-direction: column;
  }
  .navegacion-links {
    display: flex;
    list-style: none;
    flex-direction: column;
  }
  .parrafo-index {
    height: 50%;
  }
  .h2-principal {
    font-size: 40px;
  }
  .contenedores-destinos-principales {
    flex-direction: column;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .bg-articulos iframe {
    width: 95%;
  }
  .bg-articulos p {
    width: 100%;
  }
  .articulos-destinos {
    flex-direction: column;
  }
  .carousel {
    position: relative;
    margin-bottom: 1rem;
  }
  .contacto-grilla {
    display: grid;
    align-items: center;
    grid-template-rows: 8% 10% 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo" "redes redes" "chatea chatea" "telefono telefono" "titulo2 titulo2" "mapa mapa" "mapa mapa" "horarios horarios" "footer footer";
  }
  .boton-viajes {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
