.bg-titulo{
    background-image: url("../assets/bg-titulo-index.webp");
    background-position: center;
    background-size: cover;
    height: 300px;
    border-bottom: 2px solid #808080;
}
iframe{
    @include sizes (600px, 450px);
}
svg{
    @include sizes (16px, 16px);
}
.h2-principal{
    text-shadow: $shadow;
    color: #fbb38d;
    @include flex-center;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 30px;
}
.parrafo-index{
    @include flex-center;
    background-color: $bg-main;
    color: #d05774;
    text-align: center;
    align-items: center;
    text-decoration:underline;
    margin-bottom: 0px;
}
.parrafo-index2{
    color: #662132;
    background-color: $bg-main;
    text-align: center;
    border-bottom: 2px solid #808080;
    margin-bottom: 0px;

}
.bg-articulos{
    background-color: $bg-main;
    iframe{
        display: flex;
        width: 35%;
    }
    h2{
        width: 14rem;
        color: #6bc8cd;
        font-size: 35px;
        display: flex;
        text-shadow: $shadow;
    }
    p{
        display: flex;
        color: #fff900;
        width: 25%;
        text-shadow: $shadow;
    }
}
.contenedor{
    border: 2px solid #f58b7e;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.contenedores-destinos-principales{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-position: center;
    background-size: cover;
    @include sizes (100%, 100%);
}
.buenos-aires{
    background-image: url("../assets/bsas-backround-nordelta.jpg");
}
.caba{    
    background-image: url("../assets/caba-backround.jpg");
}
.mendoza{
        background-image: url("../assets/mendoza-backround.jpg");
}
.boton-viajes{
    background-color: #565656;
    color: #fbb38d;
    border-radius: 10px;
    padding: 1em;
    width: 11%;
    &:active{
        background-color: #808080;
    }
    &:hover{
        background-color: #19647e;
    }
}
//Quienes somos
.article-quienes-somos{
text-align: center;
}
.seccion-prueba-quienes-somos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contenedor-quienes-somos{
    display: flex;
    @include sizes (500px, 500px);
    justify-items: center;
    img{
        @include sizes (55%, 55%);
    }
}
.h3-opiniones{
    text-align: left;
    color: #19647e;
}
//FAQS
.h5-faqs{
    background-color: $bg-secondary;
    @include margin-t;
}
.parrafo-index-faqs{
    @include flex-center;
    color: #d05774;
    text-align: center;
    font-size: 25px;
    align-items: center;
    text-decoration:underline;
    margin-bottom: 3%;
}
.barra-busqueda{
    @include flex-center;
    width: 100%;
    form{
        width: 75%;
    }
}
.preguntas-frecuentes{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bg-default{
    background-color: $bg-secondary;
}
//Destinos
.carousel-inner {
    position: relative;
    width: 95%;
    overflow: hidden;
    border: 3px solid #fbb38d;
}
.carousel-caption{
    text-shadow: $shadow;
}
.link-viaje{
    background-color: #1d1414;
}
//Contacto
.contacto{
    &-redes{
        a {
            text-decoration: none;
        }
    }
    &-icons{
        grid-area: redes;
        display: flex;
        justify-content: space-evenly;
        a{
            list-style-type: none;
            text-decoration: none;
        }
    }
    &-grilla{
        display: grid;
        align-items: center;
        grid-template-rows: 8% 10% 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "titulo titulo2"
        "redes  mapa"
        "chatea mapa"
        "telefono horarios";
    }
    &-iframe{
        grid-area: mapa;
        @include flex-center;
    }
    &-chatea{
        grid-area: chatea;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &-text{
        grid-area: telefono;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h4{
            margin-bottom: 2px;
        }
        textarea{
            margin-bottom: 2px;
            background-color: $bg-secondary;
            width: 95%;
        }
    }
    &-bg{
        background-color: $bg-secondary;
    }
    &-iframe{
        iframe{
            width: 100%;
        }
    }
    &-horarios{
        grid-area: horarios;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.h3{
    &-contacto{
        grid-area: titulo;
        @include flex-center;
        color: #19647e;
        text-decoration: underline;
        text-align: left;
        color: #19647e;
    }
    &-contacto2{
        grid-area: titulo2;
        @include flex-center;
        color: #19647e;
        text-decoration: underline;
    }
}
.btn{
    border: 1px solid black;
    &:hover{
        background-color: #ffe4c4;
        border: 1px solid #000;
    }
}
svg{
    @include sizes (60px, 60px);
}
.barra-navegacion{
    @include flex-center;
}
//Animaciones
.animate__fadeIn{
    animation-duration: 5s;
}
.aparicion{
    &-1{animation: aparicion1 3s;}
    &-2{animation: aparicion2 5s;}
    &-3{animation: aparicion3 7s;}
}
@keyframes aparicion1{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes aparicion2{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes aparicion3{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}