@media (max-width: 500px) {
    svg{
        @include sizes (30px, 30px);
    }
    .contacto-text textarea{
        width: 75%;
    }
}

@media (max-width: 960px){
    .encabezado-navbar{
        flex-direction: column;
    }
    .navegacion-links {
        display: flex;
        list-style: none;
        flex-direction: column;
    }
    .parrafo-index {
        height: 50%;
    }
    .h2-principal{
        font-size: 40px;
    }
    .contenedores-destinos-principales{
        flex-direction: column;
        background-position: center;
        background-size: cover;
        @include sizes (100%, 100%);
    }
    .bg-articulos iframe {
        width: 95%;
    }
    .bg-articulos p{
        width: 100%;
    }
    .articulos-destinos{
        flex-direction: column;
    }
    .carousel {
        position: relative;
        margin-bottom: 1rem;
    }

    .contacto-grilla{
        display: grid;
        align-items: center;
        grid-template-rows: 8% 10% 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "titulo titulo"
        "redes redes"
        "chatea chatea"
        "telefono telefono"
        "titulo2 titulo2"
        "mapa mapa"
        "mapa mapa"
        "horarios horarios"
        "footer footer";
    }
    .boton-viajes {
        width: 50%;
    }
}