//Sombreado del texto
$shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
//Colores
$bg-main: #cdd8c7;
$bg-secondary: #f5f5dc;
//Mapas
$medida-fuentes: (
    XL: 60px,
    L: 35px,
    M: 25px,
    S: 20px,
);
//talle medida
@each $talle, $medida in $medida-fuentes{
    .mfz-#{$talle}{
        font-size: $medida;
    }
};
$margin-top: (
    T1: 55px,
    T2: 45px,
    T3: 35px,
    T4: 25px
);
//cantidad margen
@each $cantidad, $margen in $margin-top{
    .margin-#{$cantidad}{
        margin-top: $margen;
    }
}